.nested-fields
    %table
        %thead
            %tr
                %td Bike
                %td Start Time
                %td Return Time
        %tbody
            %tr
                %td= f.collection_select :bike_id, Bike.all, :id, :biketype, include_blank: true
                %td= f.datetime_field :starttime
                %td= f.datetime_field :returntime
                %td= link_to_remove_association "remove rental", f